[submodule "site-lisp/zen-and-art"]
	path = site-lisp/zen-and-art
    url = git://github.com/irfn/zen-and-art.git
[submodule "sandbox/site-lisp/textmate-minormode"]
	path = sandbox/site-lisp/textmate-minormode
	url = git://github.com/defunkt/textmate.el.git
[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = git://github.com/emacsmirror/cedet.git
