[submodule "site-lisp/zen-and-art"]
	path = site-lisp/zen-and-art
    url = git://github.com/irfn/zen-and-art.git
[submodule "sandbox/site-lisp/textmate-minormode"]
	path = sandbox/site-lisp/textmate-minormode
	url = git://github.com/defunkt/textmate.el.git
[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "site-lisp/ecb"]
	path = site-lisp/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "site-lisp/color-theme"]
	path = site-lisp/color-theme
	url = git://github.com/emacsmirror/color-theme.git
[submodule "site-lisp/elib"]
	path = site-lisp/elib
	url = git://github.com/emacsmirror/elib.git
[submodule "site-lisp/jdee"]
	path = site-lisp/jdee
	url = git://github.com/emacsmirror/jdee.git
[submodule "site-lisp/nxml"]
	path = site-lisp/nxml
	url = git://github.com/emacsmirror/nxml.git
